<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Stop The Traffic | Home</title>

  <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/freelancer.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#page-top">Stop The Traffic</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li class="page-scroll">
            <a href="#portfolio">Survivor Stories</a>
          </li>
          <li class="page-scroll">
            <a href="#about">About</a>
          </li>
			<li class="page-scroll">
            <a href="#contact">Myths Vs Reality</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <!-- Header -->
  <header>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <img class="img-responsive cropCircle" src="img/heart.png" alt="">
          <div class="intro-text">
			  <h2 id="needSpaceBottom">Find out if you're a victim of trafficking</h2>
            <!--                         <span class="name">Game Finder</span> -->
            <a href="./questions" class="flipper-container">
              <div id="id" class="flipper">
                <div class="front-face" data-icon="&#x27a3;"><span data-hover="Clicked">Take the Quiz</span></div>
              </div>
            </a>
            <hr class="star-light">
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Portfolio Grid Section -->
  <section class="needBottomSpace" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Survivor Stories</h2>
          <hr class="star-primary">
        </div>
        <p class="centerText">Click on a picture to read that story</p>
      </div>
      <div class="row">
        <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src="http://www.vitalvoices.org/sites/default/files/uploads/Holly%20smith_0.jpg" class="img-responsive needFormat" alt="">
          </a>
        </div>
        <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src="http://www.blog.polarisproject.org/wp-content/uploads/2012/12/Screen-Shot-2012-12-03-at-1.04.54-PM1.png" class="img-responsive needFormat" alt="">
          </a>
        </div>
        <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src="http://www.safehorizon.org/uploads/our-stories-images/1406032802_hakims_story.jpg" class="img-responsive  needFormat" alt="">
          </a>
        </div>
		  <br>
		  <a href="http://www.polarisproject.org/what-we-do/client-services/survivor-stories" class="noDecor">
		  <h2 class="centerText">Read More Stories</h2>
		  </a>
<!--         <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src="http://www.geeknaut.com/images/2011/05/m51Ifg.jpeg" class="img-responsive  needFormat" alt="">
          </a>
        </div>
        <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src="https://www-techinasia.netdna-ssl.com/wp-content/uploads/2013/07/League-of-Legends-wide-900x16002-720x405.jpg" class="img-responsive  needFormat" alt="">
          </a>
        </div>
        <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src="http://cdn.supercell.com/supercell.com/150630085413/supercell.com/files/downloads/coc_titlescreen_1400px.jpg" class="img-responsive  needFormat" alt="">
          </a>
        </div> -->
      </div>
    </div>
  </section>

  <!-- About Section -->
  <section class="success" id="about">
    <div class="container needBottomSpace">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>About</h2>
          <hr class="star-light-2">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
          <p>We designed a site that functions as a quiz, the quiz asks questions to the quiztaker and determines if he or she is a victim of human sex trafficking. If he or she is not a victim, he or she will be redirected to a page that talks about how to raise awareness and prevent human sex trafficking. </p>
        </div>
        <div class="col-lg-4">
          <p>If he or she is a victim, he or she will be redirected to a page that defines human sex trafficking and also tells him or her what to do in order to escape the trafficking ring. This app intends to ultimately raise global awareness on this issue as well as solve undiscovered cases of trafficking. </p>

        </div>
      </div>
    </div>
  </section>

	<!-- Contact Section -->
	<section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Myths Vs. Reality</h2>
          <hr class="star-primary">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
          <p>MYTH: All victims of child sex trafficking are girls.</p>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<p>MYTH: Prostituted adolescents and teenagers can just leave whenever they want.</p>
			<br>
			<br>
			<br>
			<br>
			<p>MYTH: Prostitution is a victimless crime.</p>
			<br>
			<br>
			<br>
			<br>
			<br>
			<p>MYTH: Teenagers that have been prostituted are not victims, they are bad kids.</p>
			<br>
        </div>
        <div class="col-lg-4">
          <p>Reality: It is a preconceived notion, which is reaffirmed by media portrayals, books and films, that all victims of child sex trafficking must be female. However, this is not the case. As many as 50% of the CSEC population are boys.</p>
			<br>
			<p>Reality: A victim of domestic violence may not be able to leave at first sign of abuse. The relationship between a trafficker and their victim is a similar one, but different.</p>
			<br>
			<p>Reality: Victims will almost always appear to be willing participants when in truth they may resent or despise the exploiters that are paying to have sex with them.</p>
			<br>
			<p>Reality: These children are almost always coerced or forced into prostitution, and even if they did choose it “willingly,” if they are under 18, they are not legally old enough to make such a decision.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="text-center">
    <div class="footer-above">
      <div class="container">
        <div class="row">
          <div class="footer-col col-md-4">
            <h3>Disclaimer</h3>
            <p>All survivor stories were taken from external scources and are not in any way our own.</p>
          </div>
          <div class="footer-col col-md-4">
            <h3>ECPAT Online</h3>
            <ul class="list-inline">
              <li>
                <a href="https://www.facebook.com/ecpat" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
              </li>
              <li>
                <a href="http://www.ecpat.net/" class="btn-social btn-outline"><i class="fa fa-fw fa-info"></i></a>
              </li>
              <li>
                <a href="https://twitter.com/ecpat" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
              </li>
            </ul>
          </div>
          <div class="footer-col col-md-4">
            <h3>About the Team</h3>
            <p>We are a group of five people, and we are very passionate about stopping trafficking. We desinged this app to help those that are victims, and prevent others from becomeing victims of trafficking.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Portfolio Modals -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Holly Austin Smith</h2>
              <hr class="star-primary">
              <img src="http://www.vitalvoices.org/sites/default/files/uploads/Holly%20smith_0.jpg" class="img-responsive img-centered" alt="">
              <p>When I was fourteen years old, I ran away from home with a man I had met at a shopping mall in Ocean County, New Jersey. After exchanging numbers, this man called at night while my unknowing parents watched television in the living room.
We talked more than once.
Convincing me to runaway with him was not an overnight accomplishment. He took his time. He got to know me. He analyzed my troubles, and he asked me my dreams. I wanted to be a songwriter. I wanted to meet Julia Roberts. I wanted to see Jim Morrison’s grave in Paris, France.
The year was 1992.
I was on summer break from eighth grade middle school, and my freshman year of high school loomed in the distance like an angry bull.
I was severely depressed.
And as the pressures of my fourteen-year-old-world boiled to the surface, I fled. I laced up my size-five sneakers, and I ran toward opportunity, toward possibility, and toward freedom.
In reality, I ran right in the inexorable clutches of a sex trafficking ring. Within hours of running away with what turned out to be a manipulative and menacing pimp, I was coerced into working Pacific Avenue in Atlantic City, NJ until dawn the next day.
The following night an officer on the street recognized me as being underage and arrested me. Although I was soon recognized to be a victim, the specialized aftercare needed for a trafficking victim did not yet exist. The journey toward healing was a long and bumpy road, indeed.
Twenty years ago, there were no anti-trafficking laws in place. This pimp, who raped and lured a child into prostitution, served only 365 days in jail. Two additional traffickers were arrested; however, one (a woman) posted bail and fled. She is still considered a fugitive in the state of New Jersey.
Today, I advocate for stronger anti-trafficking laws and greater protection for survivors of all forms of human trafficking.</p>
<!--               <ul class="list-inline item-details">
                <li>Creators: <a href="http://www.rockstargames.com/">Rockstar Games</a>
                </li>
              </ul> -->
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Iris's letter to Obama</h2>
              <hr class="star-primary">
              <img src="http://www.blog.polarisproject.org/wp-content/uploads/2012/12/Screen-Shot-2012-12-03-at-1.04.54-PM1.png" class="img-responsive img-centered" alt="">
              <p>Dear President Obama
I am 20 years old and have been a slave for 2 years but I thank God for helping me to escape from where I was. I was brought in USA to go to school but when I came here it became a nightmare and I starting working without pay, bitten, abused physically and mentally but the day I was expecting to be dead that’s when God made me a way to escape where I was bleeding, crying, not knowing what happening and Polaris found me and keep me safe
I believe I am the eye of my family because every body there their hope is in me but they don’t know what’s going on with me.
I thank you for thinking about people like me and those who are worse than me.
May God keep you and show you many ways to help us!!!!
Thanks so much and I am proud to be in America.
</p>
              
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Hakim's Story</h2>
              <hr class="star-primary">
              <img src="http://www.safehorizon.org/uploads/our-stories-images/1406032802_hakims_story.jpg" class="img-responsive img-centered" alt="">
              <p>Each year, more than 1 million children around the globe become victims of a nightmare – the nightmare of modern-day slavery. Vulnerable children are exploited by individuals who promise a chance at a better life, only to subject them to horrific forms of enslavement that include forced labor and sex trafficking. Children are cut off from their families, trapped for weeks, months, or even years by their enslavers with little hope of escape.
This was what Hakim faced. A war in his home country had separated the 11-year-old boy from his family and so another family generously offered to take him in and help him continue his education. Soon, Hakim realized the family had lied to him, when they instead forced him to work in their family business, with no pay and no chance of ever returning to school.
A year later, the family announced they were moving to the United States. They forced Hakim to accompany them, where they continued to threaten him and make him work in their business. Although they took him to community events, they warned him to not speak to anyone unless he wanted to be sent home without any help, and they threatened him if he did not work hard enough.
One day, the family took Hakim to a community center, where they abandoned him. Hakim was shocked – but he was also happy to be free of his enslavers. Yet he was frightened, alone, and lost in a country he knew nothing about.
Fortunately, the community center staff took Hakim in and took care of him. When he told them how much he missed his family and wanted to live in a home again, they helped him contact the local child welfare agency, which helped him find a group home and then find a foster family to care for him. Then, the agency took another step to help Hakim: They contacted Safe Horizon’s Anti-Trafficking Program.
Since 2001, Safe Horizon has been a source of help and hope for victims of trafficking. Safe Horizon provides direct services for victims that include finding shelter, counseling, and referrals for educational and job training, as well as legal and social service advocacy that provide more protection for victims.
</p>
              
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--   <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Uncharted 2</h2>
              <hr class="star-primary">
              <img src="http://www.geeknaut.com/images/2011/05/m51Ifg.jpeg" class="img-responsive img-centered" alt="">
              <p>Uncharted 2: Among Thieves follows Nathan Drake, as he travels around the world, along with Chloe Frazer and old friends Elena Fisher and Victor Sullivan to find the fabled Cintimani Stone and Shangri-La in a race against Serbian mercenaries.
                The plot draws heavy inspiration from Marco Polo and his travels through Asia, which sets many plot points along the way.</p>
              <ul class="list-inline item-details">
                <li>Creators: <a href="http://www.naughtydog.com/">Naughty Dog</a>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>League of Legends</h2>
              <hr class="star-primary">
              <img src="https://www-techinasia.netdna-ssl.com/wp-content/uploads/2013/07/League-of-Legends-wide-900x16002-720x405.jpg" class="img-responsive img-centered" alt="">
              <p>In League of Legends, players assume the role of a "champion" with unique abilities and battles against a team of other players or computer-controlled champions. In the most popular game modes, the goal is to destroy the opposing team's
                "nexus", a building which lies at the heart of a base protected by defensive structures. Each League of Legends game is discrete, with all champions starting off each game fairly weak and progressing by accumulating gold and experience
                over the course of the game.</p>
              <ul class="list-inline item-details">
                <li>Creators: <a href="http://www.riotgames.com/">Riot Games</a>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Clash of Clans</h2>
              <hr class="star-primary">
              <img src="http://cdn.supercell.com/supercell.com/150630085413/supercell.com/files/downloads/coc_titlescreen_1400px.jpg" class="img-responsive img-centered" alt="">
              <p>Clash of Clans is an online multiplayer game in which players build a community, train troops, and attack other players to earn gold and elixir, and Dark Elixir, which can be used to build defenses that protect the player from other players'
                attacks, and to train and upgrade troops. The game also features a pseudo-single player campaign in which the player must attack a series of fortified goblin villages.</p>
              <ul class="list-inline item-details">
                <li>Creators: <a href="http://supercell.com/en/">Supercell</a>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="js/classie.js"></script>
  <script src="js/cbpAnimatedHeader.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="js/freelancer.js"></script>

</body>

</html>