<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Max Alt | Home</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

		<!-- 	Font Awesome Core CSS	 -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	
    <!-- Custom CSS -->
    <link href="css/heroic-features.css" rel="stylesheet">
		<link href="css/scrolling-nav.css" rel="stylesheet">
		<link href="css/hr.css" rel="stylesheet">

	
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id='top' style="background-color:black;">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#top">Max Altshuler</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a class='page-scroll' href="#project">Projects</a>
                    </li>
                    <li>
                        <a class='page-scroll' href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer" style='height:500px;' >
            <h1>Welcome to my website</h1>
            <p>I am a front-end and back-end developer with advanced experience with Ruby and some experience with SQL, Javascript, and Java. To view my recent works, scroll down, otherwise, download my resume.</p>
					<a class='btn btn-success' href="resume.pdf" download="max_altshuler_resume.pdf">Download my Resume!</a>
					<p><%=@sent%></p>
        </header>
			<br><br><h2 id='project'></h2><br>
        <hr style='background-color: #145646;'>

        <!-- Title -->
			<div class="container row">
<header class="jumbotron hero-spacer" style='height:575px;' >
        <div class="row">
            <div class="col-lg-12">
                <h3>Recent Projects</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        
            <div class="text-center col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="img/oyster-u.jpg" alt="">
                    <div class="caption">
                        <h3 style='margin-top:10px;'>Oyster University</h3>
                        <p>Built for the billion oyster foundation to educate teens on oysters</p>
                        <p>
                            <a href="https://github.com/Whasame/stem" class="btn btn-primary"><i class="fa fa-github"></i> View on Github</a></p><p> <a href="http://oyster-u.herokuapp.com/" class="btn btn-default"><i class="fa fa-eye"></i> View on the Web</a>
                        </p>
											<p style='margin-top:23.7px;'></p>
                    </div>
								</div>
            </div>

            <div class="text-center col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="img/find-game.jpg" alt="">
                    <div class="caption">
                        <h3>Find My Game</h3>
											<h2></h2>
                        <p>Web App to find the perfect game for a user to play based on their inupt</p>
                        <p>
                            <a href="https://github.com/PabiGamito/find_my_game" class="btn btn-primary"><i class="fa fa-github"></i> View on Github</a></p><p> <a href="http://find-my-game.herokuapp.com" class="btn btn-default"><i class="fa fa-eye"></i> View on the Web</a>
                        </p>
                    </div>
								</div>
            </div>

            <div class="text-center col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="img/fnapchat.jpg" alt="">
                    <div class="caption">
                        <h3>Fake Snapchat</h3>
                        <p>A web app i built to see how databases can be implemented into ruby</p>
                        <p>
                            <a href="https://github.com/baugh70/Snapchat" class="btn btn-primary"><i class="fa fa-github"></i> View on Github</a></p><p> <a href="http://fnapchat.herokuapp.com/" class="btn btn-default"><i class="fa fa-eye"></i> View on the Web</a>
                        </p>
											<p style='margin-top:17.9px;'></p>
                    </div>
								</div>
            </div>

            <div class="text-center col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placekitten.com/800/400" alt="">
                    <div class="caption">
                        <h3>Status Hub</h3>
                        <p>Work in Progress</p>
                        <p>
                            <a href="https://github.com/Whasame/statushub" class="btn btn-primary"><i class="fa fa-github"></i> View on Github</a></p><p> <a href="http://statushub.herokuapp.com" class="btn btn-default"><i class="fa fa-eye"></i> View on the Web</a>
                        </p>
                    </div>
								</div>
            </div>
					</header>
        </div>
        <!-- /.row -->

			<br><br><h2 id='contact'></h2><br>
        <hr style='background-color: #145646;'>
			<br><br><br>
<header class="jumbotron hero-spacer" style='height:500px;' >
            <h1>Contact Me!</h1>
						<p>Text Me:</p>
						<form action='/text' method='POST'>
							<input style='width:300px' name='returnName' type='text' placeholder='Your Name' required>
							<br><br>			
							<input style='width:300px' name='returnNum' type='text' placeholder='Your Phone Number or Email' required>
							<br><br>
							<textarea name='body' rows="5" cols="40" style='resize:none' placeholder='Your Message' required></textarea>
							<br><br>
							<input class='btn btn-primary' type='submit'>
						</form>
<!-- 						<p>Email: </p>
            <p><a class="btn btn-primary btn-large">Call to action!</a>
            </p> -->
        </header>
			
			<br><br>
        <!-- Footer -->
        <footer>
            <div style='color:white' class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Max Altshuler 2015</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/scrolling-nav.js"></script>

</body>

</html>
