<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stop the Traffic | Not Victim</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<style>
	#text1,#text2,#text3
	{
		display: none;
	}
	#head1,#head2,#head3
	{
		display: none;
	}
</style>
<script>
	var Num = "";

	function Add()
	{
		if(Num == 1)
		{
			document.getElementById("text1").style.display = "block";
			document.getElementById("head1").style.display = "block";
		}
		if(Num == 2)
		{
			document.getElementById("text2").style.display = "block";
			document.getElementById("head2").style.display = "block";
		}
		if(Num == 3)
		{
			document.getElementById("text3").style.display = "block";
			document.getElementById("head3").style.display = "block";
		}
		if(Num == 4)
		{
			document.getElementById("text4").style.display = "block";
			document.getElementById("head4").style.display = "block";
		}
	}
	
	function first()
	{
		Num = 1;
		Add();
	}
	
	function second()
	{
		Num = 2;
		Add();
	}
	
	function third ()
	{
		Num = 3;
		Add();
	}
	
	
</script>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"> <div> Home </div> </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" id = "head1" href="#about">Indicators</a>
                    </li>
                    <li>
                        <a class="page-scroll" id = "head2" href="#services">Questions</a>
                    </li>
                    <li>
                        <a class="page-scroll" id = "head3" href="#contact">Help</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1><b>You are <i><u>not</u></i> a victim of human trafficking.</b><br> <b>HOWEVER</b>, that doesn’t
					mean you shouldn’t do anything either. Below are a couple of ways you can help fight modern slavery, don’t ignore this! Every hand is needed in this fight, and your hand is one of them, help us change the world.</h1>
					<br>
					<br>
                    <a class="btn btn-default page-scroll" href="#about" onclick = "first()" id = "button">Click Me to Scroll Down</a>
					
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
	<div id = "text1">
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Human Trafficking Indicators</h1>
					<br>
					<div>While not an exhaustive list, these are some key red flags that could alert you to a potential</div>
					<div>trafficking situation that should be reported: </div>
					<br>
					<div>	• Living with employer </div>
					<div>	• Poor living conditions </div>
					<div>	• Multiple people in cramped space </div>
					<div>	• Inability to speak to individual alone </div>
					<div>	• Answers appear to be scripted and rehearsed </div>
					<div>	• Employer is holding identity documents </div>
					<div>	• Signs of physical abuse </div>
					<div>	• Submissive or fearful </div>
					<div>	• Unpaid or paid very little </div>
					<div>	• Under 18 and in prostitution </div>
					<br>
					<br>
					<a class="btn btn-default page-scroll" href="#services" onclick = "second()" id = "button">Click Me to Scroll Down!</a>
                </div>
            </div>
        </div>
    </section>
	</div>
	<!-- Section 2 -->
	<div id = "text2">
    <section id="services" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
					<h1>Questions to Ask</h1>
					<br>
					<div> Assuming you have the opportunity to speak with a potential victim privately and without </div>
					<div> jeopardizing the victim’s safety because the trafficker is watching, here are some sample </div>
					<div> questions to ask to follow up on the red flags you became alert to:</div>
					<br>
					<div> •	Can you leave your job if you want to? </div>
					<div> •	Can you come and go as you please? </div>
					<div> •	Have you been hurt or threatened if you tried to leave? </div>
					<div> •	Has your family been threatened? </div>
					<div> •	Do you live with your employer? </div>
					<div> •	Where do you sleep and eat? </div>
					<div> •	Are you in debt to your employer? </div>
					<div> •	Do you have your passport/identification? Who has it? </div>
					<br>
					<br>
					<a class="btn btn-default page-scroll" href="#contact" onclick = "third()" id = "button">Click Me to Scroll Down!</a>
                </div>
            </div>
        </div>
    </section>
	</div>
	
    <!-- Contact Section -->
	<div id = "text3">
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
					<h1> Ways to Help </h1> 
					<br>
					<div> <u> Join </u> </div>
                    <div> Join or start a grassroots anti-trafficking coalition. </div> 
					<div> Join at http://www.acf.hhs.gov/trafficking/about/coalition_list.html. </div>
					<br>
					<div> <u> Volunteer </u> </div>
					<div> Do victim outreach or offer your professional services to a local anti-trafficking organization. </div>
					<br>
					<div> <u> Donate </u> </div>
					<div> Funds or needed items to an anti-trafficking organization in your area. </div>
					<br>
					<div> <u> Businesses </u> </div> 
					<br>
					<div> Provide internships, job skills training, and/or jobs to trafficking survivors. </div>
					<div> Consumers: Purchase items made by trafficking survivors such as from Jewel Girls or Made by Survivors. </div>
					<br>
					<div><u> Students </u></div>
					<div> Take action on your campus. </div>
					<div> Join or establish a university or secondary school club to raise awareness about human trafficking and initiate action throughout your local community. </div>
					<div> Consider doing one of your research papers on a topic concerning human trafficking. </div> 
					<div> Professors: Request that human trafficking be an issue included in university curriculum. </div> <div> Increase scholarship about human trafficking by publishing an article, teaching a class, or hosting a symposium. </div>
					<br>
					<br>
					<a class="btn btn-default page-scroll" href="#page-top" onclick = "third()" id = "button">Click Me to Scroll Back Up!</a>
					
					
                </div>
            </div>
        </div>
    </section>
	</div>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>

</body>

</html>
