<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stop the Traffic | Victim</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<style>
	#text1,#text2,#text3
	{
		display: none;
	}
	#head1,#head2,#head3
	{
		display: none;
	}
</style>
<script>
	var Num = "";

	function Add()
	{
		if(Num == 1)
		{
			document.getElementById("text1").style.display = "block";
			document.getElementById("head1").style.display = "block";
		}
		if(Num == 2)
		{
			document.getElementById("text2").style.display = "block";
			document.getElementById("head2").style.display = "block";
		}
		if(Num == 3)
		{
			document.getElementById("text3").style.display = "block";
			document.getElementById("head3").style.display = "block";
		}
		if(Num == 4)
		{
			document.getElementById("text4").style.display = "block";
			document.getElementById("head4").style.display = "block";
		}
	}
	
	function first()
	{
		Num = 1;
		Add();
	}
	
	function second()
	{
		Num = 2;
		Add();
	}
	
	function third ()
	{
		Num = 3;
		Add();
	}
	
	function fourth()
	{
		Num = 4;
	}
	
</script>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"> <div> Home </div> </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" id = "head1" href="#about">What is it?</a>
                    </li>
                    <li>
                        <a class="page-scroll" id = "head2" href="#services">Definitions</a>
                    </li>
                    <li>
                        <a class="page-scroll" id = "head3" href="#contact">Help</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1> <b> You are a victim of human sex trafficking. </b> </h1> 
					<div> Please read the sections below to understand what sex trafficking is </div> 
					<div> and who to contact in order to escape it.</div>
					<br>
					<br>
                    <a class="btn btn-default page-scroll" href="#about" onclick = "first()" id = "button">Click Me to Scroll Down!</a>
					
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
	<div id = "text1">
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>What is Human Sex Trafficking?</h1>
					<br>
					<div>Sex trafficking is when a commercial sex act is induced by force, fraud or coercion OR when the person </div>
					<div>induced to perform the act is under 18 years old. A commercial sex act means any item of value (money, </div> 
					<div>food,clothes, shelter, etc.) is traded for any sexual service. Domestic minor sex trafficking (child sex </div> <div>trafficking) is the commercial sexual exploitation of American children within U.S. borders for monetary </div>
					<div>or other compensation (shelter, food, drugs, etc.). This is synonymous with child sex slavery, sex slavery, </div> <div>child sex trafficking, prostitution of children, and commercial sexual exploitation of children (CSEC).</div>
					<br>
					<br>
					<a class="btn btn-default page-scroll" href="#services" onclick = "second()" id = "button">Click Me to Scroll Down!</a>
                </div>
            </div>
        </div>
    </section>
	</div>
	<!-- Section 2 -->
	<div id = "text2">
    <section id="services" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Definitions</h1>
					<br>
					<div> <u> SEX TRAFFICKING VICTIM </u>: A person who is induced to perform a commercial sex act through </div>
					<div>the use of Force, Fraud, and Coercion OR a person under the age of 18 who is induced to perform a </div>
					<div>commercial sex act in exchange for money, food, shelter, or anything. </div>
					<br>
					<div> <u> COMMERCIALLY SEXUALLY EXPLOITED CHILD </u>: A person under the age of 18 who is induced to </div>
					<div> perform a commercial sex act in exchange for money, food, shelter, or anything of value. </div>
					<br>
					<br>
					<a class="btn btn-default page-scroll" href="#contact" onclick = "third()" id = "button">Click Me to Scroll Down!</a>
                </div>
            </div>
        </div>
    </section>
	</div>
	
    <!-- Contact Section -->
	<div id = "text3">
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Get Help</h1>
					<br>
					<div>If you are or know a victim of human trafficking, please contact your local police immediately. </div>
					<div>If you need to a report a potential case of child sexual exploitation and you do not know where </div>
					<div>to turn please contact info@ecpat.net. </div>
					<br>
					<div> ECPAT is a global network dedicated to protecting children from sex trafficking and also helping </div> 
					<div> the victims of trafficking out of continued exploitment. </div> 
					<br>
					<div> <u> E-Mail </u>: info@ecpat.net </div> 
					<div> <u> Telephone </u>: +662 215 3388 </div> 
					<br>
					<br>
					<a class="btn btn-default scaleButton" href = "http://www.ecpat.net/" id = "button">Click here to visit their Website</a>
                </div>
            </div>
        </div>
    </section>
	</div>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>

</body>

</html>
